#sheet
  form(name='Character', id="Character")
   #basics
    ul
     li
       input(type="hidden", id="_id")
     li 
      label Name:
       input(type="text", name='Name', id="name")
     li 
      label Looks:
       input(type="text", name='Looks', id="looks")
   #stats
    ul
     li 
      label Cool:
       input(type="number", name='Cool', id="coolstat")
     li 
      label Hard:
       input(type="number", name='Hard', id="hardstat")   
     li 
      label Hot:
       input(type="number", name='Hot', id="hotstat")
     li 
      label Sharp:
       input(type="number", name='Sharp', id="sharpstat")
     li 
      label Weird:
       input(type="number", name='Weird', id="weirdstat")
     li
       button(name="GetCS", id="get-cs") Get Character
  ul
   li
       button(name="Save", id="saver") Save  
  ul
   li
      button(name="Roller", id="roll-button") Roll
  label Results:
     input(id='result', type="text", name='result')
#footer