!!!
html
 head
    title= title
    -each script in scripts 
     script(type='text/javascript', src= script)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/awcstheme/jquery-ui-1.8.16.custom.css')
    script(type='text/javascript', src='js/jquery-ui-1.8.16.custom.min.js')

    script(type='text/javascript')
     $(function() {
         //save button
          $('#saver').click(function() {
              alert('clickie!');
              var urlPost = '/sheet/' + $('#name').val();
              var dataString = $('#form1').serialize();
              $.ajax({
                  url: urlPost,
                  type: "POST",
                  data: dataString,
                  datatype: "json",
                  success: function(res) {
                      $.ajax({
                          url: urlget,
                          datatype: "json",
                          success: function(res) {
                              $('#name').val(res._id);
                              $('#looks').val(res.Looks);
                              $('#coolstat').val(res.Cool);
                              $('#hardstat').val(res.Hard);
                              $('#sharpstat').val(res.Sharp);
                              $('#hotstat').val(res.Hot);
                              $('#weirdstat').val(res.Weird);
                          }
                      });
                  }
                  //end ajax get
                  //end ajaxpost success
              });
              //end ajax post
            });
          //end save button


      $('#roll-button').click(function() {
          $.ajax({
              url: "/roll",
              data: {'value1': $('#coolstat').val()},
              datatype: "json", 
              success: function(res) {
              $('#result').val(res);
              console.log("Hooray, it worked!");
       }
        });
        });

      $('a.cslink').click(function() {
          //when clicked check to see if there is a character, if so save it and then pull the one chosen.
          var urlget = '/sheet/' + $(this).attr('id');
          if ($('#name').val() === '') {
              //if there isn't a character on display, just grab the one they want
              var urlget = '/sheet/' + $(this).attr('id');
              $.ajax({
              url: urlget,
                datatype: "json",
                success: function(res) {
                    $('#name').val(res._id);
                    $('#looks').val(res.Looks);
                    $('#coolstat').val(res.Cool);
                    $('#hardstat').val(res.Hard);
                    $('#sharpstat').val(res.Sharp);
                    $('#hotstat').val(res.Hot);
                    $('#weirdstat').val(res.Weird);
                  }
              });
          } else {
              //if there is a character, save it and then grab the next
              var urlPost = '/sheet/' + $('#name').val();
              var dataString = $('#form1').serialize();
              $.ajax({
                  url: urlPost,
                  type: "POST",
                  data: dataString,
                  datatype: "json",
                  success: function(res) {
                      $.ajax({
                          url: urlget,
                          datatype: "json",
                          success: function(res) {
                              $('#name').val(res._id);
                              $('#looks').val(res.Looks);
                              $('#coolstat').val(res.Cool);
                              $('#hardstat').val(res.Hard);
                              $('#sharpstat').val(res.Sharp);
                              $('#hotstat').val(res.Hot);
                              $('#weirdstat').val(res.Weird);
                          }
                      });
                  }
                  //end ajax get
                  //end ajaxpost success
              });
              //end ajax post
          }
         

      });
      });
 body!= body