!!!
html
 head
    title= title
    -each script in scripts 
     script(type='text/javascript', src= script)
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/awcstheme/jquery-ui-1.8.16.custom.css')
    script(type='text/javascript')
     $( function() {

          $('#saver').click(function() {
              if (!$('#_id').val()) {
                 var urlPost = '/sheet/new'; 
              } else {
                 var urlPost = '/sheet/' + $('#_id').val();
              }
              
              var dataString = $('#Character').serialize();
               alert(urlPost);
              $.ajax({
                  url: urlPost,
                  type: "POST",
                  data: dataString,
                  datatype: "json",
                  success: function(res) {
                    alert('saved');
                  }
                  
              });
            });
          //end save button


      $('#roll-button').click(function() {
           arg = 100;
           total = 0;
           total = (Math.floor((Math.random()*6)+1) + Math.floor((Math.random()*6)+1)) + Number(arg);
            $('#result').val(total);
            console.log("Hooray, it worked!");
        });

       $('a.cslink').click(function() {
          //when clicked check to see if there is a character, if so save it and then pull the one chosen.
          var urlget = '/sheet/' + $(this).attr('id');
          if (!$('#_id').val()) {
              //if there isn't a character on display, just grab the one they want
              $.ajax({
              url: urlget,
                datatype: "json",
                success: function(res) {
                    $('#_id').val(res._id);
                    $('#name').val(res.Name);
                    $('#looks').val(res.Looks);
                    $('#coolstat').val(res.Cool);
                    $('#hardstat').val(res.Hard);
                    $('#sharpstat').val(res.Sharp);
                    $('#hotstat').val(res.Hot);
                    $('#weirdstat').val(res.Weird);
                  }
              });
          } else {
              //if there is a character, save it and then grab the next
              var urlPost = '/sheet/' + $('#_id').val();
              var dataString = $('#Character').serialize();
              $.ajax({
                  url: urlPost,
                  type: "POST",
                  data: dataString,
                  datatype: "json",
                  success: function(res) {
                      $.ajax({
                          url: urlget,
                          type: "GET",
                          datatype: "json",
                          success: function(res) {
                              $('#_id').val(res._id);
                              $('#name').val(res.Name);
                              $('#looks').val(res.Looks);
                              $('#coolstat').val(res.Cool);
                              $('#hardstat').val(res.Hard);
                              $('#sharpstat').val(res.Sharp);
                              $('#hotstat').val(res.Hot);
                              $('#weirdstat').val(res.Weird);
                          }
                      });
                  }
                  //end ajax get
                  //end ajaxpost success
              });
              //end ajax post
          }
         

       });
      });
 body!= body